<%= error_messages_for 'category' %>

<!--[form:category]-->
<table>
  <tr>
    <td><label for="category_name">Name:</label></td>
    <td><%= text_field 'category', 'name' %></td>
  </tr>
</table>
<!--[eoform:category]-->
